body{
  font-weight: bolder;
  font-size: 1.2em;
  font-family: Aerial;
}

.feature-card-container{
  background-color: rgb(75, 12, 21);
  border-radius: 5px;
  width: 60%;
  margin: 10px auto;
  padding: 8px 5px;
}

h1{
  text-align: center;
  color: rgb(255, 0, 0);
}

input[type="checkbox"]{
  appearance: none;
  height: 2em;
  width: 2em;
  border: 2px solid red;
  background-color: rgb(88, 88, 146);
  vertical-align: middle;
  border-radius: 5px;
}

input[type="checkbox"]:checked{
 background-color: red;
 border-color: rgb(88, 88, 146);
}

input[type="checkbox"]:checked::after{
 content: "✓";
 display: block;
 color: green;
 text-align: center;
 line-height: 15px;
}

label{
  display: block;
  color: rgb(233, 133, 12);
  margin: 10px auto;
  cursor: pointer;
}