* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#playing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}


.card {
  display: flex;
  justify-content: space-between;
  width: 150px;  
  height: 250px; 
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

.left {
  align-self: flex-start;
}

.middle {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.right {
  align-self: flex-end;
}