.form-container{
  background-color: orange;
  border-radius: 12px;
  padding: 15px 10px;
  width: 80%;
  margin: 10px auto;
  height: 450px;
}

label{
  margin:10px;
  color: white;
}

input, textarea{
  display: block;
  width: 45%;
  padding: 2px;
  margin-bottom: 10px;
}

button{
  font-size: 1.2em;
  background-color: green;
  border: 2px solid green;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
}

button:hover{
  background-color: rgb(42, 199, 42);
}