*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

#main {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}

#title {
    text-align: center;
    margin-bottom: 20px;
}

#img-div {
    text-align: center;
    margin-bottom: 20px;
}

#image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 2px solid #939393;
    border-radius: 3px;
}

#img-caption {
    margin-top: 10px;
    font-style: italic;
    color: #e84a4a;
}

#info-btn {
    text-align: center;
    margin-top: 20px;
}

#tribute-info {
    margin-bottom: 20px;
    font-size: 18px;
}

#tribute-link {
    display: inline-block;
    padding: 10px 15px;
    background-color: gray;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

#tribute-link:hover {
    background-color: #070101ed;
}

