body{
  background-color: #f4f4f4;
}

.color-box{
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 50%;
}

.color1{
  background-color: #d91a5a;
}

.color2{
  background-color: rgb(173, 57, 245);
}

.color3{
  background-color: yellow; 
}

.color4{
   background-color: hsl(198, 81%, 52%);
}

.color5{
  background-color: hsl(16, 81%, 52%);
}