body{
  background-color: #f4f4f4;
}

.color-grid{
  height: 40vh;
  width: 80vw;
  margin: 50px auto;
  background-color: rgb(222, 236, 184);
  border: 2px solid black;
}

.color-box{
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 50%;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.color1{
  background-color: #d91a5a;
}

.color2{
  background-color: rgb(173, 57, 245);
}

.color3{
  background-color: yellow; 
}

.color4{
   background-color: hsl(198, 81%, 52%);
}

.color5{
  background-color: hsl(16, 81%, 52%);
}